<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <%- include("menu.ejs") %>
    </div>
    <h1><%= title %></h1>
    <p>Chương trình cắt tỉa dữ liệu của CRETA</p>
  </body>
</html>
