<html>
    <head>
        <%- include("../header.ejs") %>
    </head>
    <body>
        <div>
            <%- include("../menu.ejs"); %>
        </div>
        <div>

        </div>
    </body>
</html>